In [9]:
library(tidyverse)
library(ggplot2)
library(tidyr)
options(scipen=0)
library(readr)

## Import

In [10]:
df_who <- who
print(df_who)

# A tibble: 7,240 x 60
   country  iso2  iso3   year new_sp_m014 new_sp_m1524 new_sp_m2534 new_sp_m3544
   <chr>    <chr> <chr> <dbl>       <dbl>        <dbl>        <dbl>        <dbl>
 1 Afghani~ AF    AFG    1980          NA           NA           NA           NA
 2 Afghani~ AF    AFG    1981          NA           NA           NA           NA
 3 Afghani~ AF    AFG    1982          NA           NA           NA           NA
 4 Afghani~ AF    AFG    1983          NA           NA           NA           NA
 5 Afghani~ AF    AFG    1984          NA           NA           NA           NA
 6 Afghani~ AF    AFG    1985          NA           NA           NA           NA
 7 Afghani~ AF    AFG    1986          NA           NA           NA           NA
 8 Afghani~ AF    AFG    1987          NA           NA           NA           NA
 9 Afghani~ AF    AFG    1988          NA           NA           NA           NA
10 Afghani~ AF    AFG    1989          NA           NA           NA           NA
# i 7,230 more rows
# i 52 more variables: new_sp_m4554 <dbl>, new_sp_m5564 <dbl>,
#   new_sp_m65 <dbl>, new_sp_f014 <dbl>, new_sp_f1524 <dbl>,
#   new_sp_f2534 <dbl>, new_sp_f3544 <dbl>, new_sp_f4554 <dbl>,
#   new_sp_f5564 <dbl>, new_sp_f65 <dbl>, new_sn_m014 <dbl>,
#   new_sn_m1524 <dbl>, new_sn_m2534 <dbl>, new_sn_m3544 <dbl>,
#   new_sn_m4554 <dbl>, new_sn_m5564 <dbl>, new_sn_m65 <dbl>, ...

In [11]:
df_pop <- read.csv("Population.csv", skip = 3)
print(paste("Shape:",nrow(df_pop), "x", ncol(df_pop)))
print(head(df_pop, 3))

[1] "Shape: 266 x 69"
                 Country.Name Country.Code    Indicator.Name Indicator.Code
1                       Aruba          ABW Population, total    SP.POP.TOTL
2 Africa Eastern and Southern          AFE Population, total    SP.POP.TOTL
3                 Afghanistan          AFG Population, total    SP.POP.TOTL
      X1960     X1961     X1962     X1963     X1964     X1965     X1966
1     54922     55578     56320     57002     57619     58190     58694
2 130072080 133534923 137171659 140945536 144904094 149033472 153281203
3   9035043   9214083   9404406   9604487   9814318  10036008  10266395
      X1967     X1968     X1969     X1970     X1971     X1972     X1973
1     58990     59069     59052     58950     58781     58047     58299
2 157704381 162329396 167088245 171984985 177022314 182126556 187524135
3  10505959  10756922  11017409  11290128  11567667  11853696  12157999
      X1974     X1975     X1976     X1977     X1978     X1979     X1980
1     58349     58295     58368     58580     58776     59191     59909
2 193186642 198914573 204802976 210680842 217074286 223974122 230792729
3  12469127  12773954  13059851  13340756  13611441  13655567  13169311
      X1981     X1982     X1983     X1984     X1985     X1986     X1987
1     60563     61276     62228     62901     61728     59931     59159
2 238043099 245822010 253644643 261458202 269450407 277621771 286067346
3  11937581  10991378  10917982  11190221  11426852  11420074  11387818
      X1988     X1989     X1990     X1991     X1992     X1993     X1994
1     59331     60443     62753     65896     69005     73685     77595
2 294498625 302939121 311748681 320442961 329082707 338324002 347441809
3  11523298  11874088  12045660  12238879  13278974  14943172  16250794
      X1995     X1996     X1997     X1998     X1999     X2000     X2001
1     79805     83021     86301     88451     89659     90588     91439
2 356580375 366138524 375646235 385505757 395750933 406156661 416807868
3  17065836  17763266  18452091  19159996  19887785  20130327  20284307
      X2002     X2003     X2004     X2005     X2006     X2007     X2008
1     92074     93128     95138     97635     99405    100150    100917
2 427820358 439173286 450928044 463076637 475606210 488580707 502070763
3  21378117  22733049  23560654  24404567  25424094  25909852  26482622
      X2009     X2010     X2011     X2012     X2013     X2014     X2015
1    101604    101838    102591    104110    105675    106807    107906
2 516003448 530308387 544737983 559609961 575202699 590968990 607123269
3  27466101  28284089  29347708  30560034  31622704  32792523  33831764
      X2016     X2017     X2018     X2019     X2020     X2021     X2022
1    108727    108735    108908    109203    108587    107700    107310
2 623369401 640058741 657801085 675950189 694446100 713090928 731821393
3  34700612  35688935  36743039  37856121  39068979  40000412  40578842
      X2023  X
1    107359 NA
2 750503764 NA
3  41454761 NA

#### Shapes
`population` dataset have *266 rows and 69 columns*

`who` dataset have *7240 rows and 60 columns*

#### Summary

In [12]:
print(sapply(df_pop, class))

  Country.Name   Country.Code Indicator.Name Indicator.Code          X1960
   "character"    "character"    "character"    "character"      "numeric"
         X1961          X1962          X1963          X1964          X1965
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X1966          X1967          X1968          X1969          X1970
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X1971          X1972          X1973          X1974          X1975
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X1976          X1977          X1978          X1979          X1980
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X1981          X1982          X1983          X1984          X1985
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X1986          X1987          X1988          X1989          X1990
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X1991          X1992          X1993          X1994          X1995
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X1996          X1997          X1998          X1999          X2000
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X2001          X2002          X2003          X2004          X2005
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X2006          X2007          X2008          X2009          X2010
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X2011          X2012          X2013          X2014          X2015
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X2016          X2017          X2018          X2019          X2020
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X2021          X2022          X2023              X
     "numeric"      "numeric"      "numeric"      "logical"

In [13]:
print(sapply(df_pop, class))

  Country.Name   Country.Code Indicator.Name Indicator.Code          X1960
   "character"    "character"    "character"    "character"      "numeric"
         X1961          X1962          X1963          X1964          X1965
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X1966          X1967          X1968          X1969          X1970
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X1971          X1972          X1973          X1974          X1975
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X1976          X1977          X1978          X1979          X1980
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X1981          X1982          X1983          X1984          X1985
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X1986          X1987          X1988          X1989          X1990
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X1991          X1992          X1993          X1994          X1995
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X1996          X1997          X1998          X1999          X2000
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X2001          X2002          X2003          X2004          X2005
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X2006          X2007          X2008          X2009          X2010
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X2011          X2012          X2013          X2014          X2015
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X2016          X2017          X2018          X2019          X2020
     "numeric"      "numeric"      "numeric"      "numeric"      "numeric"
         X2021          X2022          X2023              X
     "numeric"      "numeric"      "numeric"      "logical"

In [14]:
print(sapply(df_pop, function(x) sum(is.na(x))))

  Country.Name   Country.Code Indicator.Name Indicator.Code          X1960
             0              0              0              0              2
         X1961          X1962          X1963          X1964          X1965
             2              2              2              2              2
         X1966          X1967          X1968          X1969          X1970
             2              2              2              2              2
         X1971          X1972          X1973          X1974          X1975
             2              2              2              2              2
         X1976          X1977          X1978          X1979          X1980
             2              2              2              2              2
         X1981          X1982          X1983          X1984          X1985
             2              2              2              2              2
         X1986          X1987          X1988          X1989          X1990
             2              2              2              2              1
         X1991          X1992          X1993          X1994          X1995
             1              1              1              1              1
         X1996          X1997          X1998          X1999          X2000
             1              1              1              1              1
         X2001          X2002          X2003          X2004          X2005
             1              1              1              1              1
         X2006          X2007          X2008          X2009          X2010
             1              1              1              1              1
         X2011          X2012          X2013          X2014          X2015
             1              1              1              1              1
         X2016          X2017          X2018          X2019          X2020
             1              1              1              1              1
         X2021          X2022          X2023              X
             1              1              1            266

In [15]:
# df_pop[]
print(df_pop[is.na(df_pop["X1967"])])

  [1] "Not classified"     "West Bank and Gaza" "INX"
  [4] "PSE"                "Population, total"  "Population, total"
  [7] "SP.POP.TOTL"        "SP.POP.TOTL"        NA
 [10] NA                   NA                   NA
 [13] NA                   NA                   NA
 [16] NA                   NA                   NA
 [19] NA                   NA                   NA
 [22] NA                   NA                   NA
 [25] NA                   NA                   NA
 [28] NA                   NA                   NA
 [31] NA                   NA                   NA
 [34] NA                   NA                   NA
 [37] NA                   NA                   NA
 [40] NA                   NA                   NA
 [43] NA                   NA                   NA
 [46] NA                   NA                   NA
 [49] NA                   NA                   NA
 [52] NA                   NA                   NA
 [55] NA                   NA                   NA
 [58] NA                   NA                   NA
 [61] NA                   NA                   NA
 [64] NA                   NA                   NA
 [67] NA                   NA                   NA
 [70] "   1978248"         NA                   "   2068845"
 [73] NA                   "   2163591"         NA
 [76] "   2262676"         NA                   "   2366298"
 [79] NA                   "   2474666"         NA
 [82] "   2587997"         NA                   "   2706518"
 [85] NA                   "   2776568"         NA
 [88] "   2848431"         NA                   "   2922153"
 [91] NA                   "   2997784"         NA
 [94] "   3075373"         NA                   "   3154969"
 [97] NA                   "   3236626"         NA
[100] "   3320396"         NA                   "   3406334"
[103] NA                   "   3494496"         NA
[106] "   3591977"         NA                   "   3689099"
[109] NA                   "   3786161"         NA
[112] "   3882986"         NA                   "   3979998"
[115] NA                   "   4076708"         NA
[118] "   4173398"         NA                   "   4270092"
[121] NA                   "   4367088"         NA
[124] "   4454805"         NA                   "   4569087"
[127] NA                   "   4685306"         NA
[130] "   4803269"         NA                   "   4922749"
[133] NA                   "   5043612"         NA
[136] "   5165775"         NA                   NA

Looking at these values, it appears that they aren't country at all. So let's drop these, along with column `X` that has 266 null values. Also, it is wise to remove the "X" values in the columns with year.

In [16]:
df_pop2 <- df_pop %>%
    filter(!is.na(X1967)) %>%
    select(-X)
popped_x <- c()
for (col in colnames(df_pop2)){
    popped_x <- append(popped_x, gsub("^X", "", col))
}
colnames(df_pop2) <- popped_x
print(sapply(df_pop2, function(x) sum(is.na(x))))

  Country.Name   Country.Code Indicator.Name Indicator.Code           1960
             0              0              0              0              0
          1961           1962           1963           1964           1965
             0              0              0              0              0
          1966           1967           1968           1969           1970
             0              0              0              0              0
          1971           1972           1973           1974           1975
             0              0              0              0              0
          1976           1977           1978           1979           1980
             0              0              0              0              0
          1981           1982           1983           1984           1985
             0              0              0              0              0
          1986           1987           1988           1989           1990
             0              0              0              0              0
          1991           1992           1993           1994           1995
             0              0              0              0              0
          1996           1997           1998           1999           2000
             0              0              0              0              0
          2001           2002           2003           2004           2005
             0              0              0              0              0
          2006           2007           2008           2009           2010
             0              0              0              0              0
          2011           2012           2013           2014           2015
             0              0              0              0              0
          2016           2017           2018           2019           2020
             0              0              0              0              0
          2021           2022           2023
             0              0              0

## Data Transformation

### `WHO` Dataset
It is more likely that the columns of `who` dataset are values instead of variables. Let's explore this more.

In [17]:
df_who2 <- df_who %>%
    pivot_longer(cols=-c(1:4), names_to="variables", values_to="cases", values_drop_na=TRUE)
head(df_who2, 10)

   country     iso2 iso3 year variables    cases
1  Afghanistan AF   AFG  1997 new_sp_m014   0
2  Afghanistan AF   AFG  1997 new_sp_m1524 10
3  Afghanistan AF   AFG  1997 new_sp_m2534  6
4  Afghanistan AF   AFG  1997 new_sp_m3544  3
5  Afghanistan AF   AFG  1997 new_sp_m4554  5
6  Afghanistan AF   AFG  1997 new_sp_m5564  2
7  Afghanistan AF   AFG  1997 new_sp_m65    0
8  Afghanistan AF   AFG  1997 new_sp_f014   5
9  Afghanistan AF   AFG  1997 new_sp_f1524 38
10 Afghanistan AF   AFG  1997 new_sp_f2534 36

In [18]:
unique(df_who2$variables)

 [1] "new_sp_m014"  "new_sp_m1524" "new_sp_m2534" "new_sp_m3544" "new_sp_m4554"
 [6] "new_sp_m5564" "new_sp_m65"   "new_sp_f014"  "new_sp_f1524" "new_sp_f2534"
[11] "new_sp_f3544" "new_sp_f4554" "new_sp_f5564" "new_sp_f65"   "new_sn_m014"
[16] "new_sn_m1524" "new_sn_m2534" "new_sn_m3544" "new_sn_m4554" "new_sn_m5564"
[21] "new_sn_m65"   "new_ep_m014"  "new_ep_m1524" "new_ep_m2534" "new_ep_m3544"
[26] "new_ep_m4554" "new_ep_m5564" "new_ep_m65"   "new_sn_f014"  "newrel_m014"
[31] "newrel_f014"  "new_sn_f1524" "new_sn_f2534" "new_sn_f3544" "new_sn_f4554"
[36] "new_sn_f5564" "new_sn_f65"   "new_ep_f014"  "new_ep_f1524" "new_ep_f2534"
[41] "new_ep_f3544" "new_ep_f4554" "new_ep_f5564" "new_ep_f65"   "newrel_m1524"
[46] "newrel_m2534" "newrel_m3544" "newrel_m4554" "newrel_m5564" "newrel_m65"
[51] "newrel_f1524" "newrel_f2534" "newrel_f3544" "newrel_f4554" "newrel_f5564"
[56] "newrel_f65"

##### Data Structure
Looking the variables columns, it appears that there is a clear structure of values. There is however peculiar values by the end that includes the word "newrel." This doesn't make sense because all other values are divided into three. 

Fortunately there exist a data dictionary in [GitHub](https://github.com/GTB-TME/gtbreport2024/blob/main/dynamic/TB_data_dictionary_2022-05-31.csv).
"newrel" as it turns out mean "New and Relapse cases." Separating "new" and "rel" should be fine for this alligns with the structure of the rest of the values under `variables` column.

In [19]:
df_who2$variables <- gsub(pattern = "newrel", replacement = "new_rel", df_who2$variables)
unique(df_who2$variables)

 [1] "new_sp_m014"   "new_sp_m1524"  "new_sp_m2534"  "new_sp_m3544"
 [5] "new_sp_m4554"  "new_sp_m5564"  "new_sp_m65"    "new_sp_f014"
 [9] "new_sp_f1524"  "new_sp_f2534"  "new_sp_f3544"  "new_sp_f4554"
[13] "new_sp_f5564"  "new_sp_f65"    "new_sn_m014"   "new_sn_m1524"
[17] "new_sn_m2534"  "new_sn_m3544"  "new_sn_m4554"  "new_sn_m5564"
[21] "new_sn_m65"    "new_ep_m014"   "new_ep_m1524"  "new_ep_m2534"
[25] "new_ep_m3544"  "new_ep_m4554"  "new_ep_m5564"  "new_ep_m65"
[29] "new_sn_f014"   "new_rel_m014"  "new_rel_f014"  "new_sn_f1524"
[33] "new_sn_f2534"  "new_sn_f3544"  "new_sn_f4554"  "new_sn_f5564"
[37] "new_sn_f65"    "new_ep_f014"   "new_ep_f1524"  "new_ep_f2534"
[41] "new_ep_f3544"  "new_ep_f4554"  "new_ep_f5564"  "new_ep_f65"
[45] "new_rel_m1524" "new_rel_m2534" "new_rel_m3544" "new_rel_m4554"
[49] "new_rel_m5564" "new_rel_m65"   "new_rel_f1524" "new_rel_f2534"
[53] "new_rel_f3544" "new_rel_f4554" "new_rel_f5564" "new_rel_f65"

Now let us separate the `variables` column into three new columns, `new`, `ep`, and ``

In [20]:
df_who3 <- separate_wider_delim(df_who2, variables, delim = "_", names = c("new", "type", "gender_age"))
head(df_who3, 5)

  country     iso2 iso3 year new type gender_age cases
1 Afghanistan AF   AFG  1997 new sp   m014        0
2 Afghanistan AF   AFG  1997 new sp   m1524      10
3 Afghanistan AF   AFG  1997 new sp   m2534       6
4 Afghanistan AF   AFG  1997 new sp   m3544       3
5 Afghanistan AF   AFG  1997 new sp   m4554       5

In [21]:
df_who_tidy <- df_who2 %>%
    separate_wider_delim(variables, delim = "_", names = c("new", "type", "gender_age")) %>%
    mutate(
        sex=str_sub(gender_age, 1, 1), 
        age_group = str_sub(gender_age, 2, str_length(gender_age))) %>%
    subset(select = -c(gender_age, new))
head(df_who_tidy, 5)

  country     iso2 iso3 year type cases sex age_group
1 Afghanistan AF   AFG  1997 sp    0    m   014
2 Afghanistan AF   AFG  1997 sp   10    m   1524
3 Afghanistan AF   AFG  1997 sp    6    m   2534
4 Afghanistan AF   AFG  1997 sp    3    m   3544
5 Afghanistan AF   AFG  1997 sp    5    m   4554

### `Population` Dataset

There exist some column names that can be a value of a column `year`

In [35]:
df_pop_tidy <- df_pop2 %>%
pivot_longer(cols = c(5:ncol(df_pop2)), names_to = "year", values_to = "population") %>%
mutate(across(c(year, population), as.numeric))
head(df_pop_tidy, 5)

  Country.Name Country.Code Indicator.Name    Indicator.Code year population
1 Aruba        ABW          Population, total SP.POP.TOTL    1960 54922
2 Aruba        ABW          Population, total SP.POP.TOTL    1961 55578
3 Aruba        ABW          Population, total SP.POP.TOTL    1962 56320
4 Aruba        ABW          Population, total SP.POP.TOTL    1963 57002
5 Aruba        ABW          Population, total SP.POP.TOTL    1964 57619

## Join Datasets
We can join the two tables via `WHO.iso3` and `Population.Country.Code`

In [55]:
names(df_pop_tidy)[names(df_pop_tidy) == "Country.Code"] <- "iso3"
tuberculosis <- left_join(x = df_who_tidy, y = df_pop_tidy, by = c("iso3", "year"))
head(tuberculosis, 5)

  country     iso2 iso3 year type cases sex age_group Country.Name
1 Afghanistan AF   AFG  1997 sp    0    m   014       Afghanistan
2 Afghanistan AF   AFG  1997 sp   10    m   1524      Afghanistan
3 Afghanistan AF   AFG  1997 sp    6    m   2534      Afghanistan
4 Afghanistan AF   AFG  1997 sp    3    m   3544      Afghanistan
5 Afghanistan AF   AFG  1997 sp    5    m   4554      Afghanistan
  Indicator.Name    Indicator.Code population
1 Population, total SP.POP.TOTL    18452091
2 Population, total SP.POP.TOTL    18452091
3 Population, total SP.POP.TOTL    18452091
4 Population, total SP.POP.TOTL    18452091
5 Population, total SP.POP.TOTL    18452091

## Clean Up Data

In [56]:
tuberculosis <- tuberculosis %>%
    select(,-c("Country.Name", "Indicator.Name", "iso2", "Indicator.Code")) %>%
    drop_na()
head(tuberculosis, 5)

  country     iso3 year type cases sex age_group population
1 Afghanistan AFG  1997 sp    0    m   014       18452091
2 Afghanistan AFG  1997 sp   10    m   1524      18452091
3 Afghanistan AFG  1997 sp    6    m   2534      18452091
4 Afghanistan AFG  1997 sp    3    m   3544      18452091
5 Afghanistan AFG  1997 sp    5    m   4554      18452091

## Data Manipulation

#### Determine the total TB cases among men and women in the 21st century in the United States. Identify which sex had more cases.

In [66]:
usa_21st_century_by_gender <- tuberculosis %>%
filter(iso3=="USA", year> 2000) %>%
group_by(sex) %>%
summarise(cases = sum(cases))%>%
mutate(proportion = cases/ sum(cases))
print("Cases of TB in United States by Gender During 21st century")
usa_21st_century_by_gender

[1] "Cases of TB in United States by Gender During 21st century"

  sex cases proportion
1 f   43982 0.373517
2 m   73769 0.626483

As it turns out, from 2001-2013 in United States, **men are 25% more likely to acquire tubercolosis than female**.

#### Create a new variable, `cases_per_100k`, representing TB cases per 100,000 people by year, sex, age group, and TB type.

In [75]:
per100 <- tuberculosis %>%
group_by(year, sex, age_group, type) %>%
reframe(
    cases = sum(cases),
    cases_per_100k = (cases *100000) / population
)
# mutate(cases_per_100k = (cases * 100000)/population)

per100

      year sex age_group type cases  cases_per_100k
1     1980 f   014       sp    18    0.07342244
2     1980 f   1524      sp    62    0.25289950
3     1980 f   2534      sp    51    0.20803024
4     1980 f   3544      sp    34    0.13868682
5     1980 f   4554      sp    31    0.12644975
6     1980 f   5564      sp    33    0.13460780
7     1980 f   65        sp   104    0.42421852
8     1980 m   014       sp    12    0.04894829
9     1980 m   1524      sp    54    0.22026731
10    1980 m   2534      sp    75    0.30592682
11    1980 m   3544      sp    83    0.33855901
12    1980 m   4554      sp   100    0.40790242
13    1980 m   5564      sp   108    0.44053462
14    1980 m   65        sp   186    0.75869851
15    1981 f   014       sp     6    0.02417414
16    1981 f   1524      sp    46    0.18533504
17    1981 f   2534      sp    57    0.22965429
18    1981 f   3544      sp    26    0.10475459
19    1981 f   4554      sp    28    0.11281263
20    1981 f   5564      sp    35    0.14101579
21    1981 f   65        sp    92    0.37067008
22    1981 m   014       sp     8    0.03223218
23    1981 m   1524      sp    49    0.19742211
24    1981 m   2534      sp    61    0.24577038
25    1981 m   3544      sp    64    0.25785745
26    1981 m   4554      sp    87    0.35052497
27    1981 m   5564      sp   103    0.41498933
28    1981 m   65        sp   141    0.56809220
29    1982 f   014       sp     7    0.02786963
30    1982 f   1524      sp    51    0.20305020
...   ...  ... ...       ...  ...    ...
73971 2013 m   65        rel  259531 4.746466e+02
73972 2013 m   65        rel  259531 2.324240e+03
73973 2013 m   65        rel  259531 5.566940e+02
73974 2013 m   65        rel  259531 1.260777e+03
73975 2013 m   65        rel  259531 4.561017e+04
73976 2013 m   65        rel  259531 2.296755e+04
73977 2013 m   65        rel  259531 2.703341e+03
73978 2013 m   65        rel  259531 3.208306e+03
73979 2013 m   65        rel  259531 1.197822e+03
73980 2013 m   65        rel  259531 3.158570e+03
73981 2013 m   65        rel  259531 1.349815e+04
73982 2013 m   65        rel  259531 3.562323e+03
73983 2013 m   65        rel  259531 2.423757e+05
73984 2013 m   65        rel  259531 1.935994e+04
73985 2013 m   65        rel  259531 2.329437e+03
73986 2013 m   65        rel  259531 3.408261e+02
73987 2013 m   65        rel  259531 2.359158e+06
73988 2013 m   65        rel  259531 7.344446e+02
73989 2013 m   65        rel  259531 5.626472e+02
73990 2013 m   65        rel  259531 3.373586e+03
73991 2013 m   65        rel  259531 4.047060e+02
73992 2013 m   65        rel  259531 8.211449e+01
73993 2013 m   65        rel  259531 7.757993e+03
73994 2013 m   65        rel  259531 8.731343e+02
73995 2013 m   65        rel  259531 1.019840e+05
73996 2013 m   65        rel  259531 8.676427e+02
73997 2013 m   65        rel  259531 2.865431e+02
73998 2013 m   65        rel  259531 8.853800e+02
73999 2013 m   65        rel  259531 1.685376e+03
74000 2013 m   65        rel  259531 1.851966e+03